img {
    width: 500px;
}

body {
    font-family: Roboto;
    margin: 0;
    background-color: #333;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}
nav {
    background-color: lime;
    padding: 10px;
    text-align: center
}


