img {
    width: 500px;
}

body {
    font-family: Roboto;
    margin: 0;
    background-color: #333;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}
nav {
    background-color: lime;
    padding: 10px;
    text-align: center
}

nav p{
    background-color: blueviolet;
    padding: 5px;
    margin: 6px;
    border-radius: 100px;
}

@media (min-width: 700px) {
    nav {
        display: flex;
        flex-direction: row;
        background-color: red;
        justify-content: space-between;
    }
}

